
body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 30px;
}

/* 
repeat(how often, what) 
3fr = maxwidth divided by 3
*/
.grid_container {
    background-color: #eee;
    margin: 0 auto;
    max-width: 900px;

    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: 100px 200px 300px;
    gap: 10px;
}

.grid_container > div {
    background-color: #ccc;
    border: 1px solid #777;
    text-align: center;

    padding: 20px;
}

/* first number is the starting column, second is the span */
.grid_container > div:nth-child(1) {
    grid-column: 1 / span 2;
}

.grid_container > div:nth-child(2) {
    grid-column: span 3;
}

/* span 1 is the default value */
.grid_container > div:nth-child(3) {
    grid-column: span 1;
}

/* from wich colum to which column */
.grid_container > div:nth-child(4) {
    grid-column: 2 / 6;
}

/*  to large spans will be wrapped */
.grid_container > div:nth-child(5) {
    grid-column: span 3;
}

.grid_container > div:nth-child(6) {
    grid-column: span 3;
}
